<html>
    <head>
        <title>Mapping list</title>
        <style>
          table, th, td {
            border: 1px solid black;
          }
        </style>
    </head>
    <body>
        <h1>Mapping list</h1>
        <a href="{% url 'mapping:home' %}"> Go home </a>
        <table style="width:100%">
            <tr>
              <th>Alias/Standard Name</th>
              <th>ID</th>
            <tr>
              {% for id in ids %}
                <tr>
                  <td>{{ id.alias }}</td>
                  <td>{{id.feture_name}}</td>
                </tr>
              {% endfor %}
        </table>
    </body>
</html>
